* {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
body {
   /* background: rgb(0,106,78);
background: linear-gradient(180deg, rgba(0,106,78,1) 0%, rgba(86,130,139,0.7665660014005602) 68%, rgba(255,255,255,1) 100%);*/
background-color: #254636;

height: 200vh;

}
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
   /* background-color: #006a4e;*/
    height: 80px;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid goldenrod;
    /*background: rgb(242,238,238);
background: radial-gradient(circle, rgba(242,238,238,1) 58%, rgba(233,233,233,0.9766500350140056) 70%, rgba(211,240,233,1) 100%);*/
background-color: rgb(78, 109, 65);
color: rgb(177, 142, 54);
}
nav ul {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 2;
}
nav ul li {
    list-style: none;
}

nav ul li button {
    all: unset;
    font-size: 3vw;
}
.logo {
    font-size: 3vw;;
    font-family: 'Parisienne', cursive;
    font-size: 4vw;
    border: 1px solid rgb(177, 142, 54);
    border-radius: 48%;
    padding: 0 5vw;
    margin-bottom: 1vw;
}
.wrapper{
    position: relative;
    padding-top: 80px;
}

.content {
display: flex;
justify-content: center;
align-items: center;
}

.default {
    margin-top: 50px;
    height: 35vw;
    display: grid;
    align-content: center;
    grid-template-rows: 15vw 10vw;
    grid-template-columns: 1fr 70% 1fr;
    text-align: center;
    
}
.pop {
    display: none;
    margin-top: 3vw;
}
#schedule {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tables {
    display: none;
    justify-content: center;
    align-content: center;
}
.stol {
    text-align: center;
    font-size: 3vh;
    background-color: #E1E6CE;
    border: 2px solid seagreen;
    padding: 4vw;
    border-radius: 15px;
}
#dziekujemy {
    font-size: 10vw;
    font-family: 'Parisienne', cursive;
    color: rgb(177, 142, 54);
    filter: drop-shadow(0 0 25px goldenrod);
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
}
#przybycie {
    font-size: 8vw;
    font-family: 'Noto Serif JP', serif;
    color: rgb(177, 142, 54);
    filter: drop-shadow(0 0 30px rgb(91, 88, 80));
    grid-area: 2 / 2 / 3 / 3;
    padding-bottom: 13vw;
    border-bottom: 1px solid goldenrod;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
}

.loteria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 5vw auto;
    list-style-position: inside;
    font-family: 'Noto Serif JP', serif;
    color: rgb(50, 43, 23);
    background-color: rgb(78, 109, 65);
    border: 2px solid rgba(255, 217, 0, 0.55);
    border-radius: 10px;
    filter: drop-shadow(0 0 15px rgb(17, 15, 10));
}
.heading {
    font-size: 7vw;
    text-align: center;
}
#message {
    display: flex;
    align-items: center;
    height: 8vw;
    background-color: #254636;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    margin: 1vw 1vw;
    border: 2px solid rgba(255, 217, 0, 0.55);
    border-radius: 5px;
    color: rgb(177, 142, 54);
}
.instrukcja {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin: 1vw auto;
    gap: 0.5vw;
}
.loteria button {
    all:unset;
    text-align: center;
    align-self: center;
    font-size: 4vw;
    font-weight: bold;
    border: 1px solid rgb(51, 49, 49);
    border-radius: 15px;
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.loteria button:hover {
    background-color: rgba(85, 107, 47, 0.708);
}