* {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
body {
    background: rgb(0,106,78);
background: linear-gradient(180deg, rgba(0,106,78,1) 0%, rgba(86,130,139,0.7665660014005602) 68%, rgba(255,255,255,1) 100%);

height: 300vh;

}
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
   /* background-color: #006a4e;*/
    height: 80px;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid goldenrod;
    background-color: rgba(42, 56, 24, 0.8);
}
nav ul {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 2;
}
nav ul li {
    list-style: none;
}

nav ul li button {
    all: unset;
    font-size: 3vw;
}
.logo {
    font-size: 3vw;;
}
.wrapper{
    position: relative;
    padding-top: 80px;
}

.content {
display: flex;
justify-content: center;
align-items: center;
}

.default {
    margin-top: 50px;
    height: 35vw;
    display: grid;
    align-content: center;
    grid-template-rows: 15vw 10vw;
    grid-template-columns: 1fr 70% 1fr;
    text-align: center;
    
}
.pop {
    display: none;
    margin-top: 3vw;
}
#schedule {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dziekujemy {
    font-size: 10vw;
    font-family: 'Parisienne', cursive;
    color: rgb(177, 142, 54);
    filter: drop-shadow(0 0 25px goldenrod);
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
}
#przybycie {
    font-size: 8vw;
    font-family: 'Noto Serif JP', serif;
    color: rgb(177, 142, 54);
    filter: drop-shadow(0 0 30px rgb(91, 88, 80));
    grid-area: 2 / 2 / 3 / 3;
    padding-bottom: 13vw;
    border-bottom: 1px solid goldenrod;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
}

.loteria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 5vw auto;
    list-style-position: inside;
    font-family: 'Noto Serif JP', serif;
    color: rgb(50, 43, 23);
    background-color: rgba(130, 233, 0, 10%);
    border: 1vw solid rgb(44, 44, 44);
    border-radius: 10px;
    filter: drop-shadow(0 0 15px rgb(17, 15, 10));
}
.heading {
    font-size: 7vw;
    text-align: center;
}
#message {
    display: flex;
    align-items: center;
    height: 5vw;
    justify-content: center;
    font-size: 2vw;
    margin: 0.5vw auto;
}
.instrukcja {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin: 1vw auto;
    gap: 0.5vw;
}
.loteria button {
    all:unset;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
}