* {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
body {
   /* background: rgb(0,106,78);
background: linear-gradient(180deg, rgba(0,106,78,1) 0%, rgba(86,130,139,0.7665660014005602) 68%, rgba(255,255,255,1) 100%);
background-color: #f2f6ea;*/
background: rgb(242,246,234);
background: linear-gradient(180deg, rgba(242,246,234,1) 13%, rgba(255,255,255,1) 88%);
}
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
   /* background-color: #006a4e;*/

    align-items: center;
    z-index: 1;
    border-bottom: 1px solid goldenrod;
    /*background: rgb(242,238,238);
background: radial-gradient(circle, rgba(242,238,238,1) 58%, rgba(233,233,233,0.9766500350140056) 70%, rgba(211,240,233,1) 100%);*/
background-color: rgb(163 186 153);
color: #ece5c1;
}
nav ul {
    display: flex;
    gap: 1vw;
    margin: 0 auto;
    flex-shrink: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow: visible;
}
nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 5vw;
    margin: 0 auto;

}

nav ul li button {
    all: unset;
    font-size: 4vw;
}
nav ul li button:hover {
    all: unset;
    font-size: 4vw;
    color: rgb(151, 128, 70);
}
.logo {
    font-family: 'Parisienne', cursive;
    font-size: 5vw;
    font-weight: bold;
    border: 1px solid rgb(177, 142, 54);
    border-radius: 10%;
    padding: 0 5vw;
    margin: 0.5vh 0;
}
.merge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.wrapper{
    position: relative;
    padding-top: 80px;
}

.content {
display: flex;
justify-content: center;
align-items: center;
margin-top: 3vw;
}

.default {
    margin-top: 50px;
    height: 35vw;
    display: grid;
    align-content: center;
    grid-template-rows: 15vw 10vw;
    grid-template-columns: 1fr 70% 1fr;
    text-align: center;
    
}
.pop {
    display: none;
    margin-top: 2vw;
}
#schedule {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(163 186 153);
    border: 2px solid rgba(255, 217, 0, 0.55);
    border-radius: 10px;
    filter: drop-shadow(0 3px 5px #ece5c1);
    width: 70%;
    margin: 2vw auto;
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: #ece5c1;
}
#schedule .top {
    font-size: 7vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}
#schedule .time {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 1vw;
}
#schedule .pl {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #ece5c1;
}
#schedule .eng {
    font-size: 2.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
}
#tables {
    display: none;
    justify-content: center;
    align-content: center;
    gap: 1.5vw;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.stol {
    min-width: 40%;
    max-width: 45%;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    background-color: rgb(163 186 153);
    border: 2px solid rgba(255, 217, 0, 0.55);
    border-radius: 10px;
    filter: drop-shadow(0 3px 5px #ece5c1);
    padding: 1vw 3vw;
    color: #ece5c1;
}
.p {
    min-width: 40%;
    max-width: 40%;
}
.piaty, .szosty{
    min-width: 88%;
    max-width: 90%;
    gap: 2vw;
}
.stol h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    font-style: italic;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.stol p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3vw;
}
.podwojne {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3vw;
    text-align: center;
}
.pol {
    width: 40%;
}
#dziekujemy {
    font-size: 10vw;
    font-family: 'Parisienne', cursive;
    color: rgb(177, 142, 54);
    filter: drop-shadow(0 0 25px goldenrod);
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
}
#przybycie {
    font-size: 8vw;
    font-family: 'Noto Serif JP', serif;
    color: rgb(177, 142, 54);
    filter: drop-shadow(0 0 30px rgb(91, 88, 80));
    grid-area: 2 / 2 / 3 / 3;
    padding-bottom: 13vw;
    border-bottom: 1px solid goldenrod;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
}

.loteria {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 5vw auto;
    list-style-position: inside;
    font-family: 'Noto Serif JP', serif;
    color: #ece5c1;
    background-color: rgb(163 186 153);
    border: 2px solid rgba(255, 217, 0, 0.55);
    border-radius: 10px;
    filter: drop-shadow(0 3px 5px #ece5c1);
}
.heading {
    font-size: 7vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#message {
    display: flex;
    align-items: center;
    text-align: center;
    height: 12vw;
    background-color: #f2f6ea;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    margin: 1vw 1vw;
    border: 2px solid rgba(255, 217, 0, 0.55);
    border-radius: 5px;
    color: rgb(177, 142, 54);
    font-family: 'Montserrat', sans-serif;
}
.instrukcja {
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    margin: 2vw 2vw;
    gap: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}
.instrukcja ol {
    padding-left: 2vw;
}
.instrukcja h4 {
    text-align: center;
}
.loteria button {
    all:unset;
    text-align: center;
    align-self: center;
    font-size: 4vw;
    font-weight: bold;
    border: 1px solid rgba(255, 217, 0, 0.55);
    border-radius: 15px;
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.loteria button:hover {
    background-color: rgba(85, 107, 47, 0.708);
}

img {
    width: 100%;
    margin-bottom: 0;
    margin-top: 3vh;

}